<launch>
  <!-- Name of the node -->
  <arg name="eskf_node" default="eskf"/>

  <!-- IMU topic to use -->
  <arg name="imu_topic" default="/mavros/imu/data"/>

  <!-- POSE topic to use -->
  <arg name="pose_topic" default="/mavros/local_position/pose"/>
  
  <node pkg="eskf" name="$(arg eskf_node)" type="eskf" output="screen">
    <remap from="~imu" to="$(arg imu_topic)"/>
    <remap from="~pose" to="$(arg pose_topic)"/>
  </node>

</launch>
